$bgGrey: #dfdfdf;
$bgLightGrey: #eee;

body {
	padding: 40px 50px;
	font-family: Arial, sans-serif;
	font-size: 0.9em;
}
a {
	color: #000!important;
}
input[type="submit"],
button[type="submit"] {
	width: 100%;
	display: inline-block;
	padding: 15px 0;
}
.header {
	ul.menu {
		float: left;
		margin: 0 0 40px 0;	
		padding: 0;
		li {
			margin: 0 0 0 10px;
			display: inline-block;
			&.current {
				a {
					background: $bgGrey !important;
				}
			}
			&:first-child { margin-left: 0; }
			a {
				display: inline-block;
				padding: 8px 10px;
				text-decoration: none;
				&:hover {
					background: $bgLightGrey;
				}
			}
		}
	}
	.attrs {
		padding: 8px 0;
		float: right;
	}
}
.header, form {
	width: 700px;
}
#result {
	margin: 20px 0;
}
input[type="text"], select, textarea {
	padding: 7px 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 1em;
}
.pseudo-link {
	cursor: pointer;
	display: inline-block;
	border-bottom: 1px dashed #000;
	text-decoration: none;
	&:hover { border-color: transparent; }
}
.item:after, .row:after, .aclear:after {
	content: "";
	display: block;
	clear: both;
}
.row {
	margin: 0 0 15px 0;
	label {
		float: left;
		padding: 5px 10px 0 0;
		width: 15%;
		box-sizing: border-box;
	}
	&.row-medium {
		label { width: 25%; }
		input[type="text"], select, .repeat-group { max-width: 75%; }
	}
	&.row-long {
		label { width: auto; }
		input[type="text"], select, .repeat-group { max-width: none; }
	}
	input[type="text"],
	select {
		float: left;
		width: 85%;
		box-sizing: border-box;
		&.full { 
			width: 100%; 
		}
		&.medium { 
			max-width: 180px; 
		}
		+ label {
			margin-left: 10px; 
		}
	}
	> .row { 
		label,
		input[type="text"],
		select { 
			margin-left: 10px; 
		}
	}
	input.small {
		max-width: 60px;
	}
	select.small {
		max-width: 100px;
	}
	textarea {
		width: 100%;
		height: 150px;
		font-size: 1.2em;
	}
	input[type="radio"],
	input[type="checkbox"]
	{
		display: none; 
		+ label {
			cursor: pointer;
			position: relative;
			padding-right: 25px;
			&:before {
				content: "";
				display: block;
				width: 14px;
				height: 14px;
				background: #fff;
				border: 1px solid #ccc;
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -8px;
			}
			&:after {
				content: "";
				display: none;
				position: absolute;
				top: 50%;
			}
		}
		&:checked {
			+ label {
				&:after {
					display: block;
				}
			}
		}
	}
	input[type="radio"]
	{
		+ label {
			&:before {
				border-radius: 100%;
			}
			&:after {
				width: 10px;
				height: 10px;
				background: #555;
				border-radius: 100%;
				right: 3px;
				margin-top: -5px;
			}
		}
	}
	input[type="checkbox"]
	{
		+ label {
			&:before {
				border-radius: 4px;
			}
			&:after {
				content: "✔";
				font-size: 1.4em;
				line-height: .7em;
				width: 10px;
				height: 12px;
				color: #555;
				border-radius: 2px;
				right: 5px;
				margin-top: -8px;
			}
		}
	}
	.repeat-group {
		float: left;
		width: 85%;
		box-sizing: border-box;
		padding-right: 30px;
		position: relative;
		.item:not(:first-child) {
			margin-top: 5px;
		}
		input, select {
			width: 100%;
			&.medium {
				max-width: 176px;
			}
		}
		input:not(:first-child), select:not(:first-child) {
			margin-left: 5px;
		}
	}
	&.tabs {
		margin: 0;
		label {
			font-weight: bold;
			float: left;
			padding-top: 10px;
			padding-bottom: 15px;
		}
		input[type="radio"] {
			display: none;
		}
		input[type="radio"] + label {	
			cursor: pointer;
			font-weight: 400;
			width: auto;
			padding: 10px 15px 15px;
			text-align: center;
			&:before, &:after {
				display: none;
			}
			&:hover {	
				background: $bgLightGrey;
			}
		}
		input[type="radio"]:checked + label {
			background: $bgGrey;
		}
	}
}
fieldset {
	border: 0;
	padding: 0;
	margin: 0 0 10px 0;
	.title {
		font-weight: bold;
		margin: 0 0 20px 0;
	}
}
.block {
	padding: 0;
	background: $bgGrey;
	margin-bottom: 15px;
	overflow: hidden;
	fieldset {
		padding: 15px 15px 0;
		margin: 0;
	}
}
#fields-wrap {
	padding: 15px 18px;
	background: #eee;
	margin: 0 0 15px 0;
	width: 100%;
	box-sizing: border-box;
	.title {
		font-weight: 700;
		margin: 0 0 20px 0;
		.options {
			float: right;
			margin-top: 5px;
			span {
				font-weight: 400;
			}
		}
	}
	table {
		font-size: 0.9em;
		tr {
			&.last-row {
				td { 
					border-bottom: 1px dashed #bbb; 
					padding-bottom: 15px;
				}
				+ tr {
					td { padding-top: 15px; }
				}
			}
			&:last-child { 
				td { padding-top: 15px; }
			}
			td {
				position: relative;
				padding: 10px 0;
				box-sizing: border-box;
				&.number {  }
				&.field { 
					word-break: break-all;
					width: 40%; 
				}
				&.arrow {  }
				&.set-field { width: 20%; }
				&.proc-field { 
					padding-right: 25px;
					width: 25%; 
					.item:not(:first-child) {
						margin-top: 10px
					}
				}
				&.meta { 
					width: 15%;
					min-width: 50px;
				}
			}
		}
	}
	select, input {
		margin: 0 0 0 10px;
		&.proc-data {
			margin-top: 5px;
		}
		&.link {
			width: 160px;
		}
	}
	.proc-data-group {
		margin-top: 5px;
		padding: 0 25px 0 10px;
		position: relative;
		input {
			margin: 0;
			&.filter-key {
				width: 60%;
			}
			&.filter-value {
				width: 38%;
				margin-left: 2%;
			}
		}
		.add { display: none; }
		&:last-of-type {
			.add { display: inline-block; }
		}
	}
	#string {
		margin: 0 5px;
		width: 50px;
	}
	span {	
		&.value {
			display: inline-block;
			margin: 0 5px 0 0;
		}
		&.processed {
			display: inline-block;
			color: green;
		}
		&.ready {
			color: green;
			font-size: 1.2em;
			font-weight: bold;
			display: inline-block;
			vertical-align: top;
		}
		&.copy {
			cursor: pointer;
			font-size: 1.8em;
			font-weight: bold;
			display: inline-block;
			margin-right: 5px;
			padding: 0 5px;
			opacity: 0.4;
			&:hover {
				opacity: 1;
			}
		}
	}
}

span {
	&.add {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0,-55%);
		cursor: pointer;
		font-size: 1.8em;
		font-weight: bold;
		display: inline-block;
		padding: 0 5px;
		opacity: 0.4;
		&:hover {
			opacity: 1;
		}
	}
}

.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
